@{
	/*
	 * Дополните информацию на странице About
	 * добавьте email компании. 
	 * Дополните страницу изображением. 
	 */
}

<h2>@ViewData["Title"].</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information...</p>
<p>@ViewBag.Address?.Street, @ViewBag.Address?.HouseNumber</p>
<p><b>@(((Address)ViewData["Address"]).City)</b></p>